---
import MainLayout from "../layouts/MainLayout.astro";
import { homeOverview } from "../backend/interactors/home-overview";

const threads = await homeOverview.getThreadsWithLatestPosts();
---

<MainLayout title="Index">
  {threads.map((thread) => <h2>{thread.title}</h2>)}
</MainLayout>
