---
import MainLayout from "../layouts/MainLayout.astro";
import { homeOverview } from "../backend/interactors/home-overview";

const tags = await homeOverview.getAllTags();
---

<MainLayout title="Index">
  {
    tags.map((tag) => (
      <>
        <>
          <h2>{tag.name}</h2>
          <p class="opacity-50">{tag.description}</p>
        </>
      </>
    ))
  }
</MainLayout>
